{{#d-modal-body id="chat_integration_test_modal" title="chat_integration.test_modal.title"}}
  <div>
    <form>
      <table>

      	<tr class="input">
          <td class="label"><label for='provider'>{{i18n "chat_integration.test_modal.provider"}}</label></td>
          <td>
          	{{i18n (concat 'chat_integration.provider.' model.provider.id '.title')}}
          </td>
        </tr>
        <tr class="instructions">
          <td></td>
          <td></td>
        </tr>

        <tr class="input">
          <td class="label"><label for='channel'>{{i18n "chat_integration.test_modal.channel"}}</label></td>
          <td>
          	{{text-field 
							name="channel"
							value=model.channel
							autofocus="autofocus"
              id="channel-field"}}

            {{!-- &nbsp;{{input-tip validation=channelValidation}} --}}
          </td>
        </tr>
        <tr class="instructions">
          <td></td>
          <td><label>{{i18n (concat 'chat_integration.provider.' model.provider.id '.channel_instructions')}}</label></td>
        </tr>

        <tr class="input">
          <td class="label"><label for='channel'>{{i18n "chat_integration.test_modal.topic"}}</label></td>
          <td>
            {{choose-topic selectedTopicId=model.topic_id}}
          </td>
        </tr>
        

      </table>
    </form>
  </div>	
{{/d-modal-body}}

<div class="modal-footer">
  {{#conditional-loading-spinner condition=loading}}
    {{d-button class='btn-primary btn-large' action="send" title="chat_integration.test_modal.send" label="chat_integration.test_modal.send" disabled=sendDisabled}}
  
	  {{d-button class="btn-large" action="closeModal" title="chat_integration.test_modal.close" label="chat_integration.test_modal.close"}}
  {{/conditional-loading-spinner}}

</div>