{{#d-modal-body id="chat_integration_test_modal" title="chat_integration.test_modal.title"}}
  <div>
    <form {{action "send" on="submit"}}>
      <table>
        <tbody>
          <tr class="input">
            <td class="label"><label for="channel">{{i18n "chat_integration.test_modal.topic"}}</label></td>
            <td>
              {{choose-topic selectedTopicId=model.topic_id}}
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
{{/d-modal-body}}

<div class="modal-footer">
  {{#conditional-loading-spinner condition=loading}}
    {{d-button
      id="send-test"
      class="btn-primary btn-large"
      action=(action "send")
      title="chat_integration.test_modal.send"
      label="chat_integration.test_modal.send"
      disabled=sendDisabled
    }}

    {{d-button
      class="btn-large"
      action=(route-action "closeModal")
      title="chat_integration.test_modal.close"
      label="chat_integration.test_modal.close"
    }}
  {{/conditional-loading-spinner}}
</div>
