{{#d-modal-body title="chat_integration.edit_rule_modal.title"}}
  	
  
	<form class="form-horizontal">
		<div>
		{{i18n 'chat_integration.edit_rule_modal.provider'}}: {{i18n (concat 'chat_integration.provider.' model.provider '.title')}}
		</div>
		<div>
      <label for="category">{{i18n "chat_integration.edit_rule_modal.category"}}</label>
      {{category-chooser
      			name="category"
            value=model.category_id
            rootNoneLabel="slack.choose.all_categories"
            rootNone=true
            allowUncategorized="true"
            }} 
    </div>

    {{#if siteSettings.tagging_enabled}}
	    <div>
	    	<label for="tags">{{i18n "chat_integration.edit_rule_modal.tags"}}</label>
	      {{tag-chooser name="tags" tags=model.tags placeholderKey="chat_integration.edit_rule_modal.placeholders.tags"}}
	    </div>
    {{/if}}

    <div>
    	<label for="channel">{{i18n "chat_integration.edit_rule_modal.channel"}}</label>
			{{text-field 
						name="channel"
						value=model.channel 
						placeholderKey="chat_integration.edit_rule_modal.placeholders.channel" 
						class="channel"}}
		</div>

		<div>
    	<label for="filter">{{i18n "chat_integration.edit_rule_modal.filter"}}</label>
			{{combo-box name="filter" content=model.available_filters value=model.filter}}
		</div>

	</form>

{{/d-modal-body}}

<div class="modal-footer">
	{{d-button class='btn-primary' action="save" title="chat_integration.edit_rule_modal.save" label="chat_integration.edit_rule_modal.save"}}

	{{d-button action="cancel" title="chat_integration.edit_rule_modal.cancel" label="chat_integration.edit_rule_modal.cancel"}}

</div>