<DModalBody
  @title="chat_integration.test_modal.title"
  @id="chat_integration_test_modal"
  {{on "keyup" this.handleKeyUp}}
>
  <div>
    <form {{action "send" on="submit"}}>
      <table>
        <tbody>
          <tr class="input">
            <td class="label">
              <label for="channel">
                {{i18n "chat_integration.test_modal.topic"}}
              </label>
            </td>
            <td>
              <ChooseTopic @selectedTopicId={{this.model.topic_id}} />
            </td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</DModalBody>

<div class="modal-footer">
  <ConditionalLoadingSpinner @condition={{this.loading}}>
    <DButton
      @class="btn-primary btn-large"
      @id="send-test"
      @title="chat_integration.test_modal.send"
      @action={{action "send"}}
      @label="chat_integration.test_modal.send"
      @disabled={{this.sendDisabled}}
    />
    <DButton
      @class="btn-large"
      @title="chat_integration.test_modal.close"
      @action={{route-action "closeModal"}}
      @label="chat_integration.test_modal.close"
    />
  </ConditionalLoadingSpinner>
</div>