<td>
  {{rule.filterName}}
</td>

<td>
  {{#if isCategory}}
    {{#if rule.category}}
      {{category-link rule.category allowUncategorized="true" link="false"}}
    {{else}}
      {{i18n "chat_integration.all_categories"}}
    {{/if}}
  {{else if isMention}}
    {{i18n "chat_integration.group_mention_template" name=rule.group_name}}
  {{else if isMessage}}
    {{i18n "chat_integration.group_message_template" name=rule.group_name}}
  {{/if}}
</td>


{{#if siteSettings.tagging_enabled}}
  <td>
    {{#if rule.tags}}
      {{rule.tags}}
    {{else}}
      {{i18n "chat_integration.all_tags"}}
    {{/if}}
  </td>
{{/if}}

<td>
  {{d-button
    action=edit
    icon="pencil"
    class="edit"
    title="chat_integration.rule_table.edit_rule"}}

  {{d-button
    action=(action "delete")
    actionParam=rule
    icon="trash-o"
    class="delete"
    title="chat_integration.rule_table.delete_rule"}}
</td>
