
<td>
  {{rule.filterName}}
</td>
  
<td>
  {{#if rule.category}}
    {{category-link rule.category allowUncategorized="true" link="false"}}
  {{else if rule.group_id}}
    {{i18n "chat_integration.group_prefix"}} {{rule.group_name}}
  {{else}}
    {{i18n "chat_integration.all_categories"}}
  {{/if}}
</td>


{{#if siteSettings.tagging_enabled}}
  <td>
    {{#if rule.tags}}
      {{rule.tags}}
    {{else}}
      {{i18n "chat_integration.all_tags"}}
    {{/if}}
  </td>
{{/if}}

<td>
  {{d-button action="edit" actionParam=rule icon="pencil" class="edit" title="chat_integration.rule_table.edit_rule"}}
  {{d-button action="delete" actionParam=rule icon="trash-o" class="delete" title="chat_integration.rule_table.delete_rule"}}

</td>
