<DModalBody
  @title="chat_integration.edit_channel_modal.title"
  @id="chat-integration-edit-channel-modal"
  {{on "keyup" this.handleKeyUp}}
>
  <div>
    <form {{action "save" on="submit"}}>
      <table>
        <tbody>
          <tr class="input">
            <td class="label">
              <label for="provider">
                {{i18n "chat_integration.edit_channel_modal.provider"}}
              </label>
            </td>
            <td>
              {{i18n
                (concat
                  "chat_integration.provider." model.channel.provider ".title"
                )
              }}
            </td>
          </tr>

          <tr class="chat-instructions">
            <td></td>
            <td></td>
          </tr>

          {{#each this.model.provider.channel_parameters as |param|}}
            <ChannelParamRow
              @param={{param}}
              @model={{this.model}}
              @validParams={{this.validParams}}
              @isValidParams={{this.isValidParams}}
            />
          {{/each}}
        </tbody>
      </table>
    </form>
  </div>
</DModalBody>

<div class="modal-footer">
  <DButton
    @class="btn-primary btn-large"
    @id="save-channel"
    @title="chat_integration.edit_channel_modal.save"
    @label="chat_integration.edit_channel_modal.save"
    @action={{action "save"}}
    @disabled={{(not this.validParams)}}
  />

  <DButton
    @class="btn-large"
    @title="chat_integration.edit_channel_modal.cancel"
    @label="chat_integration.edit_channel_modal.cancel"
    @action={{action "cancel"}}
  />
</div>