<tr class="input">
  <td class="label">
    <label for="param-{{@param.key}}">
      {{i18n
        (concat
          "chat_integration.provider."
          @channel.provider
          ".param."
          @param.key
          ".title"
        )
      }}
    </label>
  </td>
  <td>
    <input
      {{on "input" this.updateValue}}
      value={{get @channel.data @param.key}}
      type="text"
      name="param-{{@param.key}}"
    />

    <InputTip @validation={{this.validation}} />
  </td>
</tr>

<tr class="chat-instructions">
  <td></td>
  <td>
    <label>
      {{i18n
        (concat
          "chat_integration.provider."
          @channel.provider
          ".param."
          @param.key
          ".help"
        )
      }}
    </label>
  </td>
</tr>